<div class="card expand-font">
    <div class="container card-body">
        <div class="row">
            <div class="col">
                <h3 class="card-title" (click)="viewProfile(rating.evaluator)"><b>{{rating.evaluator}}</b></h3>
            </div>

            <div class="col col-lg-1">
                <mat-icon *ngIf="rating.positive">thumb_up</mat-icon>
                <mat-icon *ngIf="!rating.positive">thumb_down</mat-icon>
            </div>
        </div>
        <p class="card-text">{{rating.text}}</p>
    </div>
</div>