<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="center" scope="col">Id</th>
            <th class="center" scope="col">Drive id</th>
            <th class="center" scope="col">Passenger</th>
            <th class="center" scope="col">Driver</th>
            <th class="center" scope="col">Created at</th>
            <th class="center" scope="col" *ngIf="!verificationMode">Delete</th>
            <th class="center" scope="col" *ngIf="verificationMode">Verify</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let res of reservations">
            <td class="center">{{res.id}}</td>
            <td class="center point" (click)="viewRide(res.driveId)">{{res.driveId}}</td>
            <td class="center point" (click)="viewPassenger(res.passengerUsername)">{{res.passengerUsername}}</td>
            <td class="center point" (click)="viewDriver(res.driverUsername)">{{res.driverUsername}}</td>
            <td class="center">{{res.createdAt | dateFormat: 'DD.MM.YYYY HH:mm'}}</td>
            <td class="center" *ngIf="!verificationMode">
                <button type="button" class="btn btn-dark" (click)="deleteReservation(res.id)">
                    <mat-icon matTooltip="Delete reservation">delete</mat-icon>
                </button>
            </td>
            <td class="center" *ngIf="verificationMode">
                <button type="button" class="btn btn-dark" (click)="verifyReservation(res.id)">
                    <mat-icon matTooltip="Verify reservation">verified_user</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>