<div class="row justify-content-center align-items-center registerForm">
    <form class="col-md-12 box" (ngSubmit)="submit()"> 
    <fieldset>
        <p class="register-label">Driver verification</p>
            <div class="form-group row">
            <div id="username-div" class="col-md">
                <p>Username</p>
                <input type="text" [(ngModel)]="driverDTO.username" [attr.disabled]="true" class="form-control" id="username" name="username" />
            </div>
        </div>

        <div class="form-group row">
            <div id="firstname-div" class="col-md">
                <p>Firstname</p>
                <input type="text" [(ngModel)]="driverDTO.firstname" [attr.disabled]="true" class="form-control" id="firstname" name="firstname" />
            </div>
        </div>

        <div class="form-group row">
            <div id="lastname-div" class="col-md">
                <p>Lastname</p>
                <input type="lastname" [(ngModel)]="driverDTO.lastname" [attr.disabled]="true" class="form-control" id="lastname" name="lastname" />
            </div>
        </div>

        <div class="form-group row">
            <div id="email-div" class="col-md">
                <p>Email</p>
                <input type="email" [(ngModel)]="driverDTO.email" [attr.disabled]="true" class="form-control" id="email" name="email" />
            </div>
        </div>

        <div class="form-group row">
            <p class="register-label">Car</p>
            <div id="plateNumber-div" class="col-md">
                <p>Plate number</p>
                <input type="text" [(ngModel)]="driverDTO.car.plateNumber" [attr.disabled]="true" class="form-control" id="plateNumber" name="plateNumber" />
            </div>
        </div>

        <div class="form-group row">
            <div id="brand-div" class="col-md">
                <p>Car brand</p>
                <input type="text" [(ngModel)]="driverDTO.car.brand" [attr.disabled]="true" class="form-control" id="brand" name="brand" />
            </div>
        </div>

        <div class="form-group row">
            <div id="carModel-div" class="col-md">
                <p>Car model</p>
                <input type="text" [(ngModel)]="driverDTO.car.carModel" [attr.disabled]="true" class="form-control" id="carModel" name="carModel" />
            </div>
        </div>

        <div class="form-group row">
            <div id="fuelConsumption-div" class="col-md">
                <p>Fuel consumption per 100km</p>
                <input type="number" [(ngModel)]="driverDTO.car.fuelConsumption" [attr.disabled]="true" class="form-control" id="fuelConsumption" name="fuelConsumption" />
            </div>
        </div>

        <div class="form-group row">
            <div id="volume-div" class="col-md">
                <p>Volume</p>
                <input type="number" [(ngModel)]="driverDTO.car.volume" [attr.disabled]="true" class="form-control" id="volume" name="volume" />
            </div>
        </div>

        <div class="form-group row">
            <div id="power-div" class="col-md">
                <p>Horsepower</p>
                <input type="number" [(ngModel)]="driverDTO.car.power" [attr.disabled]="true" class="form-control" id="power" name="power" />
            </div>
        </div>

        <div class="row">
            <button id="register-button" type="submit" class="btn btn-primary">
                Verify
            </button>
        </div>

    </fieldset>
    </form>
</div>
        
