.registerForm {
    transform: translate(0%,2%);
    width: 50%;
    position: relative;
    margin: auto;
    background-color: lightgray;
    color: rgba($color: black, $alpha: 0.7);
    border-radius: 18px;
    padding: 18px;
  }
  @media (max-width: 350px) {
    .myForm {
      min-width: 90%;
    }
  }
  
  #username-div, #pass-div, #email-div, #firstname-div, #lastname-div, #plateNumber-div, #brand-div, #carModel-div, #fuelConsumption-div, #volume-div, #power-div, #phoneNumber-div {
    text-align: center;
  }
  
  #username, #password, #email, #firstname, #lastname, #plateNumber, #brand, #carModel, #fuelConsumption, #volume, #power, #phoneNumber {
    position: relative;
    margin: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #register-button {
    position: relative;
    margin: auto;
    width: 15%;
    margin-top: 10px;
  }
  
  .register-label {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 350;
    letter-spacing: 1px;
    text-align: center;
    margin: 5px 0px;
    margin-top: 5%;
    font-weight: 400;
    margin-bottom: 3%;
  }

  input {
    text-align: center;
    font-size: 18px;
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0;
  }
  