<div class="heading">
    <h1>Complaints</h1>
</div>

<div class="container">

    <div class="row bott" *ngFor="let complaint of complaints" >

        <app-complaint-card
            [complaint]="complaint" 
            (viewProfileEvent)="viewProfile($event)">
        </app-complaint-card>

    </div>

    <div class="row">
        <div class="col">
            <app-pagination class="pagination" [totalItems]="totalSize" [pageSize]="pageSize"
                (pageSelected)="changePage($event)">
            </app-pagination>
        </div>
    </div>

</div>