<h1 mat-dialog-title>Rate {{data}}</h1>

<div mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <fieldset>

        <div class="form-group row">
          <div id="text-div" class="col-md">
            <textarea 
              class="form-control" 
              id="text" 
              name="text" 
              placeholder="Enter comment" 
              formControlName="text"
              rows="7">
            </textarea>
            <small 
              id='danger-label-text' 
              class="text-danger danger-label" 
              *ngIf="
                form.controls['text'].touched &&
                form.controls['text'].errors?.['required']">
              Text can't be empty
            </small>
          </div>
        </div>

        <div class="form-group row top-little">
          <div class="col">
            <label>Opinion:</label>
          </div>
          
          <div class="radio col">
            <label>
              <input class="form-check-input" type="radio" name="opinion" formControlName="opinion" value="Positive"/>
                Positive
            </label>
          </div>
          
          <div class="radio col">
            <label>
              <input class="form-check-input" type="radio" name="opinion" formControlName="opinion" value="Negative"/>
                Negative
            </label>
          </div>
        </div>

  
        <div id="wrapper" class="row topp">
          <button type="submit" class="btn btn-dark wid" [disabled]="!form.valid">
            Finish
          </button>
        </div>
        
      </fieldset>
    </form>
    
  </div>
