<div class="heading">
    <h1 class="point" (click)="navigateDriver()">Driver: {{ride.driver_username}}</h1>
    <div class="row" *ngIf="canComplainAndRate()">
        
        <div class="col" style="margin-left: 25%;">
            <button class="btn btn-secondary" (click)="rateDriver()">Rate {{ride.driver_username}}</button>
        </div>

        <div class="col" style="margin-right: 25%;">
            <button class="btn btn-secondary" (click)="complainDriver()">Complain about {{ride.driver_username}}</button>
        </div>  
    
    </div>
</div>

<div class="container">
    
    <div>
        <app-ride-manipulation 
            [ride]="ride" 
            mode="view">
        </app-ride-manipulation>
    </div>

    <div class="heading" *ngIf="reservations.length===0">
        <h1>There are no verified reservations for this ride</h1>
    </div>

    <div *ngIf="reservations.length>0">

        <div class="heading">
            <h1>Verified reservations</h1>
        </div>

        <app-reservations-passenger-table
            [reservations]="reservations"
            (viewPassengerEvent)="viewPassenger($event)"
            (ratePassengerEvent)="ratePassenger($event)"
            (complainPassengerEvent)="complainPassenger($event)"
            [rideFinished]="ride.finished"
            [viewer]="username"
            >
        </app-reservations-passenger-table>

        <app-pagination class="pagination" [totalItems]="totalSize" [pageSize]="pageSize"
            (pageSelected)="changePage($event)">
        </app-pagination>

    </div>
    
</div>
