.center {
    text-align: center;
    vertical-align: middle;
}

.container {
    margin-top: 1%;
}

.heading {
    text-align: center;
    margin-top: 1%;
}

.bott {
    margin-bottom: 1%;
}

.col-12 {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
}