<div class="container center headDiv">
    
    <div class="row bott">
        <div class="col">
            <div class="heading">
                <h2>Car data</h2>
            </div>
        </div>
    </div>

    <div class="row bott">
        <div class="col leftt">
            <p><b>Plate number:</b> {{car.plateNumber}}</p>
        </div>
        <div class="col">
            <p><b>Brand:</b> {{car.brand}}</p>
        </div>
        <div class="col rightt">
            <p><b>Model:</b> {{car.carModel}}</p>
        </div>
    </div>

    <div class="row bott">
        <div class="col leftt">
            <p><b>Fuel consumption:</b> {{car.fuelConsumption}}</p>
        </div>
        <div class="col">
            <p><b>Volume:</b> {{car.volume}}</p>
        </div>
        <div class="col rightt">
            <p><b>Power:</b> {{car.power}} </p>
        </div>
    </div>
    
</div>

