<div class="heading">
    <h1>Admins</h1>
</div>

<div class="container">

    <div class="row bott">
        <div class="col-12">
            <app-search-input-btn (searchBtnClicked)="search($event)"></app-search-input-btn>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-users-table [users]="users" role="admin"></app-users-table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-pagination class="pagination" [totalItems]="totalSize" [pageSize]="pageSize"
                (pageSelected)="changePage($event)">
            </app-pagination>
        </div>
    </div>

</div>