<div class="container center headDiv">

    <div class="row bott">
        <p><b>Firstname:</b> {{user.firstname}}</p>
    </div>

    <div class="row bott">
        <p><b>Lastname:</b> {{user.lastname}}</p>
    </div>

    <div class="row bott">
        <p><b>Username:</b> {{user.username}}</p>
    </div>

    <div class="row bott">
        <p><b>Email:</b> {{user.email}}</p>
    </div>

    <div class="row bott">
        <p><b>Broj telefona:</b> {{user.phoneNumber}} </p>
    </div>
    
</div>

