.topp {
    margin-top: 15%;
}

.top-little {
    margin-top: 3%;
    text-align: center;
    font-size: 15px;
}

.wid {
    width: 25%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}