<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="center" scope="col">Username</th>
            <th class="center" scope="col">Firstname</th>
            <th class="center" scope="col">Lastname</th>
            <th class="center" scope="col">Email</th>
            <th *ngIf="role !== 'admin'" class="center" scope="col">Ban</th>
            <th *ngIf="role !== 'admin'" class="center" scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="center">{{user.username}}</td>
            <td class="center">{{user.firstname}}</td>
            <td class="center">{{user.lastname}}</td>
            <td class="center">{{user.email}}.</td>
            <td *ngIf="role !== 'admin'" class="center">
                <button type="button" class="btn btn-dark" (click)="banUser(user.username)">
                    <mat-icon matTooltip="Ban user">lock</mat-icon>
                </button>
            </td>
            <td *ngIf="role !== 'admin'" class="center">
                <button type="button" class="btn btn-dark" (click)="deleteUser(user.username)">
                    <mat-icon matTooltip="Delete user">delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>